.canvas {
  background-color: white;
  width: 98vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: auto;
}

.selector {
  position: absolute;
}

.selector img {
  width: 14px;
  height: 14px;
}

.selectorhidden {
  display: none;
}
