.canvas {
  background-color: white;
  width: 98vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: auto;
}

.selector {
  position: absolute;
}

.selector img {
  width: 14px;
  height: 14px;
}

.selectorhidden {
  display: none;
}

.dropdown {
  position: absolute;
  margin: 5px 20px;
  padding: 0;
  color: white;
  list-style: none;
  background-color: rgb(54, 54, 54);
}

.dropdown li:first-of-type {
  background-color: black;
}

.dropdown li:last-of-type {
  background-color: rgb(57, 34, 34);
}

.dropdown li:last-of-type:hover {
  background-color: rgb(85, 51, 51);
}

.dropdown li:last-of-type:active {
  background-color: rgb(57, 34, 34);
}

.dropdown li {
  padding: 5px 20px;
  white-space: nowrap;
  font-size: 14px;
  border-bottom: 1px solid rgb(145, 145, 145);
  user-select: none;
}

.dropdown li:hover:not(:first-of-type, :last-of-type) {
  background-color: rgb(80, 79, 79);
}

.dropdown li:active:not(:first-of-type, :last-of-type) {
  background-color: rgb(42, 42, 42);
}
